<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracija</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Registracija</h2>
        <form id="signupForm">
            <input type="text" id="newUsername" placeholder="Uporabniško ime" required>
            <input type="password" id="newPassword" placeholder="Geslo" required>
            <button type="submit">Registracija</button>
        </form>
        <p>Že imaš račun? <a href="{{ url_for('login') }}">Prijavi se</a></p>
        <p id="signupError" class="error"></p>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>